@model ProyectoAplicacionesWeb.Models.Proyecto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Eliminar Proyecto </h1>

<h3> ¿Esta seguro que desea eliminar este proyecto? </h3>
<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/imagenes/@Html.DisplayFor(model => model.Imagen)" width="300" height="150" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Video)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveCarreraProyectosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveCarreraProyectosNavigation.NombreCarrera)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveDivisionProyectosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveDivisionProyectosNavigation.DescripcionDivision)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveGradoProyectosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveGradoProyectosNavigation.Ciclo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveGrupoProyectosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveGrupoProyectosNavigation.Grupo1)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProyecto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a todos los proyectos</a>
    </form>
</div>
