@model ProyectoAplicacionesWeb.Models.Usuario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar usuario</h1>

<h3>A¿Estas seguro que desea eliminar este usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Correo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a todos los usuarios</a>
    </form>
</div>
