@model IEnumerable<ProyectoAplicacionesWeb.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@{ 
    @using Microsoft.AspNetCore.Http;

    if(string.IsNullOrEmpty(Context.Session.GetString("Sesion1")))
            {
                @Html.Raw("No existe");
            }
            else
            {
                @Html.Raw("Sesion iniciada con el correo: " + Context.Session.GetString("Sesion1"));
            }



}

<br />
<br />

<h1>Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Correo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Correo">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Correo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
