@model IEnumerable<ProyectoAplicacionesWeb.Models.Carrera>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carreras</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar Nueva Carrera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCarrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaveDivisionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCarrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaveDivisionNavigation.DescripcionDivision)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoCarrera">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoCarrera">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoCarrera">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
