@model ProyectoAplicacionesWeb.Models.Alumno

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar alumno</h1>

<h3>¿Esta seguro que desea eliminar este alumno?</h3>
<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveCarreraAlumnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveCarreraAlumnoNavigation.NombreCarrera)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveDivisionAlumnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveDivisionAlumnoNavigation.DescripcionDivision)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveGradoAlumnosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveGradoAlumnosNavigation.Ciclo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveGrupoAlumnosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveGrupoAlumnosNavigation.Grupo1)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MatriculaAlumno" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a todos los alumnos</a>
    </form>
</div>
